body {
  width: 100%;
  font-size: 2rem;
  color: white;
  height: 100vh;
  margin: 0;
  font-family: monospace;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

.container {
  display: grid;
  overflow: hidden;

  align-items: center;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background: linear-gradient(to top left, #333, black);
}

.header {
  margin-top: 8rem;
}

.actions {
  align-self: center;
  justify-self: center;
}

button {
  background-color: #333;
  color: white;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.link-box {
  display: flex;
  position: absolute;
  top: 92%;
  /*left: 50%;*/
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
}

.container>p {
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem;
  margin-top: 6rem;
}

.passkey {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.passkey p {
  border: #333 dashed 0.5rem;
  padding: 1rem;
  font-size: 1.8rem;
  text-wrap: wrap;
  width: 80vw;
  overflow-wrap: break-word;
  text-align: center;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}
